<?xml version="1.0"?>
<launch>
    <!--node pkg="tf" type="static_transform_publisher" name="platform_rf" args="-0.66446 -0.27273 -0.41379 -1.57 0 1.309 torso_base_link platform_rf 10" />
    <node pkg="tf" type="static_transform_publisher" name="combs_rf" args="0.1 1.1 0 1.57 1.57 -1.57 torso_base_link combs_rf 10" /-->
    <!--node pkg="tf" type="static_transform_publisher" name="platform_rf" args="0.29513 -1.381 -1.29713 -1.57 0 1.309 cell platform_rf 10" /-->
    <!--node pkg="tf" type="static_transform_publisher" name="platform_rf" args="0.4495 -1.249 -1.2395 -1.57 0 1.57 cell platform_rf 10"/--> <!--THIS IS THE GOOD ONE/--> 
    <!--node pkg="tf" type="static_transform_publisher" name="platform_rf" args="0.45 -0.72 -1.2395 3.14 0 1.57 cell platform_rf 10"/--> <!--REACHABILITY ISSUES SOLVED-->
    <node pkg="tf" type="static_transform_publisher" name="platform_rf" args="-0.486 0.6601 0.7186 0 0 0 cell platform_rf 10"/> <!-- -0.485341 or -0.480767 (135 Z rotation) Calibrated X value. 0.657159 Calibrated Y value-->
    <!--node pkg="tf" type="static_transform_publisher" name="platform_rf" args="-0.486 0.667 0.713 0 0 1.57 cell platform_rf 10"/--> 
    <!--node pkg="tf" type="static_transform_publisher" name="platform_rf" args="0.4095 -1.178 -1.26543 -1.57 0 1.309 cell platform_rf 10" /> <ICPS22-->
    <node pkg="tf" type="static_transform_publisher" name="combs_rf" args="-0.7865 0.083 1.581 0 0 0 cell combs_rf 10" /> <!---0.75 0.04 1.217 0 0 0 cell combs_rf 10--><!--0.505 -0.066 -0.59075 3.14 0 0 cell combs_rf 10-->
    <node pkg="tf" type="static_transform_publisher" name="ATC_rf" args="-1.54 0.805 1.4625 -1.57 0 1.57 cell ATC_rf 10" /><!-- "1.59 -0.805 -0.5455 1.57 0 1.57 cell ATC_rf 10" --><!-- REAL "1.601 -0.805 -0.5455 1.57 0 1.57 cell ATC_rf 10" --><!--"1.589 -0.782 -0.6155 1.57 0 1.57 cell ATC_rf 10" />-->
    <node name="UC2_handler" pkg="elvez_pkg" type="main_UC2.py" output="screen">
        <param name="base_frame" value="/torso_base_link" />
	<param name="files_path_rel" value="data_UI_case2/"/>
        <!--param name="files_path" value="/home/remodel/catkin_ws/src/elvez_pkg/data_routing_v4/"/-->
        <!--param name="files_path" value="/home/remodel/catkin_ws/src/elvez_pkg/data_routing_v2/"/-->
	<!--param name="files_path" value="/home/remodel/catkin_ws/src/elvez_pkg/data_icps/" /-->
        <!--param name="files_path" value="/home/remodel/catkin_ws/src/elvez_pkg/data_WH_separation/"/-->
        <param name="cad_name" value="platform" />
        <param name="cad_name_combs" value="combs"/>
        <param name="cad_name_ATC" value="ATC"/>
	<param name="jigs_file" value="Jigs_definition_v2.xml" />
	<param name="components_file" value="Components_definition.csv" />
	<param name="WH_file" value="WH_configuration.xml" />
	<param name="seq_file" value="Assembly_sequence.csv" />
    </node>
</launch>  
